In [3]:
import pandas as pd

In [4]:
# dados = pd.ExcelFile('/home/arthur/Documentos/UFC/Oficina de R/Empresa.xlsx')
# dados = pd.read_excel(dados)
dados = pd.read_excel('../UFC/Oficina de R/Empresa.xlsx')
dados.index.name = 'empresas'
dados.name = 'dados dos funcionarios'
dados

          funcionario  civil  instrucao  filhos  salario  anos  meses  regiao
empresas
0                   1      1          1     NaN     4.00    26      3       1
1                   2      2          1     1.0     4.56    32     10       2
2                   3      2          1     2.0     5.25    36      5       2
3                   4      1          2     NaN     5.73    20     10       3
4                   5      1          1     NaN     6.26    40      7       3
5                   6      2          1     0.0     6.66    28      0       1
6                   7      1          1     NaN     6.86    41      0       1
7                   8      1          1     NaN     7.39    43      4       2
8                   9      2          2     1.0     7.59    34     10       2
9                  10      1          2     NaN     7.44    23      6       3
10                 11      2          2     2.0     8.12    33      6       1
11                 12      1          1     NaN     8.46    27     11       2
12                 13      1          2     NaN     8.74    37      5       3
13                 14      2          1     3.0     8.95    44      2       3
14                 15      2          2     0.0     9.13    30      5       1
15                 16      1          2     NaN     9.35    38      8       3
16                 17      2          2     1.0     9.77    31      7       2
17                 18      2          1     2.0     9.80    39      7       3
18                 19      1          3     NaN    10.53    25      8       1
19                 20      1          2     NaN    10.76    37      4       1
20                 21      2          2     1.0    11.06    30      9       3
21                 22      1          2     NaN    11.59    34      2       2
22                 23      1          1     NaN    12.00    41      0       3
23                 24      2          3     0.0    12.79    26      1       3
24                 25      2          2     2.0    13.23    32      5       1
25                 26      2          2     2.0    13.60    35      0       3
26                 27      1          1     NaN    13.85    46      7       3
27                 28      2          2     0.0    14.69    29      8       1
28                 29      2          2     5.0    14.71    40      6       1
29                 30      2          2     2.0    15.99    35     10       2
30                 31      1          3     NaN    16.22    31      5       3
31                 32      2          2     1.0    16.61    36      4       1
32                 33      2          3     3.0    17.26    43      7       2
33                 34      1          3     NaN    18.75    33      7       2
34                 35      2          2     2.0    19.40    48     11       2
35                 36      2          3     3.0    23.30    42      2       1

In [5]:
dados.describe().round(3)

       funcionario   civil  instrucao  filhos  salario    anos   meses  regiao
count       36.000  36.000     36.000  20.000   36.000  36.000  36.000  36.000
mean        18.500   1.556      1.833   1.650   11.122  34.583   5.611   2.028
std         10.536   0.504      0.697   1.268    4.587   6.737   3.289   0.845
min          1.000   1.000      1.000   0.000    4.000  20.000   0.000   1.000
25%          9.750   1.000      1.000   1.000    7.552  30.000   3.750   1.000
50%         18.500   2.000      2.000   2.000   10.165  34.500   6.000   2.000
75%         27.250   2.000      2.000   2.000   14.060  40.000   8.000   3.000
max         36.000   2.000      3.000   5.000   23.300  48.000  11.000   3.000

In [6]:
max_func = dados['funcionario'].max()
max_func

36

In [13]:
dados['filhos'].isna().sum()

16

In [9]:
dados.fillna(0)

          funcionario  civil  instrucao  filhos  salario  anos  meses  regiao
empresas
0                   1      1          1     0.0     4.00    26      3       1
1                   2      2          1     1.0     4.56    32     10       2
2                   3      2          1     2.0     5.25    36      5       2
3                   4      1          2     0.0     5.73    20     10       3
4                   5      1          1     0.0     6.26    40      7       3
5                   6      2          1     0.0     6.66    28      0       1
6                   7      1          1     0.0     6.86    41      0       1
7                   8      1          1     0.0     7.39    43      4       2
8                   9      2          2     1.0     7.59    34     10       2
9                  10      1          2     0.0     7.44    23      6       3
10                 11      2          2     2.0     8.12    33      6       1
11                 12      1          1     0.0     8.46    27     11       2
12                 13      1          2     0.0     8.74    37      5       3
13                 14      2          1     3.0     8.95    44      2       3
14                 15      2          2     0.0     9.13    30      5       1
15                 16      1          2     0.0     9.35    38      8       3
16                 17      2          2     1.0     9.77    31      7       2
17                 18      2          1     2.0     9.80    39      7       3
18                 19      1          3     0.0    10.53    25      8       1
19                 20      1          2     0.0    10.76    37      4       1
20                 21      2          2     1.0    11.06    30      9       3
21                 22      1          2     0.0    11.59    34      2       2
22                 23      1          1     0.0    12.00    41      0       3
23                 24      2          3     0.0    12.79    26      1       3
24                 25      2          2     2.0    13.23    32      5       1
25                 26      2          2     2.0    13.60    35      0       3
26                 27      1          1     0.0    13.85    46      7       3
27                 28      2          2     0.0    14.69    29      8       1
28                 29      2          2     5.0    14.71    40      6       1
29                 30      2          2     2.0    15.99    35     10       2
30                 31      1          3     0.0    16.22    31      5       3
31                 32      2          2     1.0    16.61    36      4       1
32                 33      2          3     3.0    17.26    43      7       2
33                 34      1          3     0.0    18.75    33      7       2
34                 35      2          2     2.0    19.40    48     11       2
35                 36      2          3     3.0    23.30    42      2       1